/Energy.class
/HealthApp.class
/average_speed.class
/bank.class
/car_distance.class
/feetToMtetre.class
/IntrestCalculator.class
/IsprimeNum.class
/Strings.class
/SumofDigits.class
/finance_app.class
/increment.class
/pound_toKg.class
/pow.class
/speed_average.class
/spynum.class
